
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">

	<!-- JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<link rel="icon" href="img/logo.svg">
	<title>Anjosia Coffee</title>
</head>
<body>
	<div class="halaman-utama-login">
	<div id="halaman-utama">
		<nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
        <div class="container">
        	   <ul class="navbar-nav ms-auto">
        	   	<div class="navbar-brand"><a href="">
    				<h1>ANJOSIA <br>COFFEE</h1></a>
  			  </div>
              <li class="nav-item me-3">
                <a class="nav-link" aria-current="page" href="#halaman-utama">Beranda</a>
              </li>
              <li class="nav-item me-3">
                <a class="nav-link" aria-current="page" href="#h1-p">Produk</a>
              </li>
              <li class="nav-item me-3">
                <a class="nav-link" aria-current="page" href="#tentang-kami">About Us</a>
              </li>
              <li class="nav-item me-3">
                <a class="nav-link" aria-current="page" href="#kontak">Contact</a>
              </li>
              	<div class="form-group has-search">
			    <span class="fa fa-search form-control-feedback"></span>
			    <input type="text" class="form-control" placeholder="Search">
			  </div>
			</ul>
        </div>
    </nav>
			<div class="overlap-group3">
				<div class="rectangel-1">
					<div class="p-k">
				<img class="product-kopi" src="img/product.svg" style="width:500px;height: 700px;"></div>
				<div class="title"> <h5 class="font-1">KOPI ANJOSIA.....</h5>
					<br><h2 class="font-2">RASA NIKMAT<br>HARGA HEMAT</h2><br>
					<p class="font-3">Terbuat dari biji kopi pilihan dan diproses dengan teknologi<br>yang menghasil kematangan merata. Tercipta khusus bagi anda<br>penikmat kopi sejati</p>

				</div>
				<div class="b1">
				<img class="b11" src="img/b1.svg"></div><a href="<%= url %>login/logout">
				<input type="submit" value="LOG OUT" class="button-login"/></a>
				
				</div>
			</div>
				<div class="back1">
					<img src="img/bg1.svg" id="bg1">
					<h1 id = "h1-p"style="text-align: center;transform: translate(0,-900px);">PRODUCT</h1>
		<div class="container-sm">
			<div class="row">
			<div class="col-sm-3">
					<div class="col-sm-3">
					<div class="container-lg">
						<div class="gold">
						<img src="img/kopigold.svg" style="width:187px;height: 284px;">
						</div>
						<div class="gold-title">
					<h3>Gold<br>Coffee</h3>
					<div class="row">
						<div class="col-sm">
					<h5>Rp. 12.000</h5><br>
				</div>
					<div class="col-sm">
					<h5>20/pcs</h5>
				</div>
			</div>
				</div>
				<div class="bt-buy">
					<a href="https://wasap.at/g0uKGt">
				<input type="submit" name="buy" value="Buy" class="btn-buy">
				</a>
			</div>	
			</div>
	</div>
	</div>
	<div class="col-sm-3">
			<div class="container-lg">
				<div class="platinum">
				<img src="img/patinumkopi.svg" style="width:187px;height: 284px;">
			</div>
			<div class="platinum-title">
				<h3>Platinum<br>Coffee</h3>
			<div class="row">
				<div class="col-sm">
					<h5>Rp. 12.000</h5><br>
				</div>
				<div class="col-sm">
				<h5>20/pcs</h5>
				</div>
			</div>
			</div>
			<div class="bt-buy">
					<a href="https://wasap.at/g0uKGt">
				<input type="submit" name="buy" value="Buy" class="btn-buy">
				</a>
			</div>	
		</div>
	</div>

	<div class="col-sm-3">
		<div class="container-lg">
			<div class="carfrsehener">
				<img src="img/carfrsehener.svg" style="width:187px;height: 284px;">
			</div>
			<div class="parfurm-title">
				<h3>Car<br>Frsehener</h3>
					<div class="row">
						<div class="col-sm">
							<h5>Rp. 12.000</h5><br>
						</div>
						<div class="col-sm">
							<h5>20/pcs</h5>
						</div>
						</div>
			</div>
			<div class="bt-buy">
				<a href="https://wasap.at/g0uKGt">
					<input type="submit" name="buy" value="Buy" class="btn-buy">
				</a>
			</div>

		</div>
	</div>
	<div class="col-sm-3">
	<div class="container-lg">
		<div class="kopikhagah">
		<img src="img/kopikhagah.svg" style="width:187px;height: 284px;">
		</div>
		<div class="kopikhagah-title">
			<h3>Kahaga<br>Coffee</h3>
		<div class="row">
			<div class="col-sm">
				<h5>Rp. 12.000</h5><br>
			</div>
		<div class="col-sm">
				<h5>20/pcs</h5>
		</div>
		</div>
		</div>
		<div class="bt-buy">
				<a href="https://wasap.at/g0uKGt">
					<input type="submit" name="buy" value="Buy" class="btn-buy">
				</a>
			</div>
	</div>
	</div>

</div>
</div>
</div>

<div class="container-1">
	<div class="tentang-kami">
		<h1 id = "tentang-kami"style="text-align: center;transform: translate(0,70px);">ABOUT US</h1>				
	</div>
	<div class="margin">
	<div class="row">
	<div class="col-sm-4">
	<div class="col-sm-6">
<div class="card">
	<h2>Event</h2>
		<div class="event">
			<img src="img/event.svg"></div>

				<p>Event<br>PKOR Way Halim  </p>
	</div>
	</div>
</div>
	<div class="col-sm-4">
<div class="card">
	<h2>Mitra</h2>
		<div class="event">
			<img src="img/mitra.svg"></div>

				<p>Kerja sama dengan <br>(Bank Indonesia Lampung)</p>
	
	</div>
</div>

	<div class="col-sm-4">
<div class="card">
	<h2>Festival</h2>
		<div class="event">
			<img src="img/festival.svg"></div>

				<p>Festival Lampung <br>Syariah 2019<br>(Bank Indonesia)</p>
	
	</div>
</div>			
</div>
</div>	
</div>	

<div class="contact">
	<h1 id = "kontak"style="transform: translate(0,-300px);">CONTACT</h1>
	<div class="card-lg">

	<div class="row">
		<div class="title-telepon">
		<img src="img/Phone.svg">
		<p>Telepon</p>	
	</div>
	<div class="no-hp">
			<p>089245837922</p>
		
		</div>
		
		<div class="title-maps">
		<img src="img/Location.svg">
		<p>Alamat</p>	
	</div>
	<div class="alamat">
			<p>14/21, City Center, Lampung, Indonesia</p>
		
		</div>

		<div class="title-email">
		<img src="img/email.svg">
		<p>Email</p>	
	</div>
	<div class="email">
			<p>enjosiacoffee@gmail.com</p>
		
		</div>
	</div>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254217.20138408532!2d104.94062762500002!3d-5.395052699999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e40d1b070839f91%3A0x6ab773d8d3181c63!2sRumah%20Produksi%20Anjosia%20Coffee!5e0!3m2!1sid!2sid!4v1670130261521!5m2!1sid!2sid" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>

</div>
<footer>
	<hr>
		<div class="logo">
			<img src="img/logo.svg" style="width: 150px;height: 150px;">
			<p>ANJOSIA COFFEE</p><br>
			
		</div>
		<div class="title-logo-alamat">
			<p>JL. Gandaria Blok E8 No. 23 Kemiling, <br>
			Tanjungkarang, Lampung, Indoneisa</p>
		</div>

		<div class="vektor-footer">
				<h2>Connect With Us</h2>
			<div class="ig">
				<img src="img/ig.svg">
				<h3><a href="https://www.instagram.com/kopi_anjosia/?next=%2F">kopi_anjosia</a></h3>
			</div>
			<div class="wa">
				<img src="img/wa.svg">
				<h3><a href="https://wa.me/+628127943665">+628127943665</a></h3>
			</div>
			<div class="facebook">
				<img src="img/facebook.svg">
				<h3><a href="https://www.facebook.com/people/Anjosia-Coffee/100057256307307/">Anjosia Coffee</a></h3>
			</div>
				<div class="nav">
			<ul>
				<li><a href="#halaman-utama">Beranda</a></li>
				<li><a href="#h1-p">Product</a></li>
				<li><a href="#tentang-kami">About US</a></li>
				<li><a href="#kontak">Contact</a></li>
			</ul>
			
		</div>
			<img src="img/Vector4.svg" style="width:100% auto;">	
		</div>
	
	</footer>
</div>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>